/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package com.mailodds.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import com.mailodds.models.ErrorResponse
import com.mailodds.models.HealthCheck200Response
import com.mailodds.models.TelemetrySummary

import com.squareup.moshi.Json

import com.mailodds.infrastructure.ApiClient
import com.mailodds.infrastructure.ApiResponse
import com.mailodds.infrastructure.ClientException
import com.mailodds.infrastructure.ClientError
import com.mailodds.infrastructure.ServerException
import com.mailodds.infrastructure.ServerError
import com.mailodds.infrastructure.MultiValueMap
import com.mailodds.infrastructure.PartConfig
import com.mailodds.infrastructure.RequestConfig
import com.mailodds.infrastructure.RequestMethod
import com.mailodds.infrastructure.ResponseType
import com.mailodds.infrastructure.Success
import com.mailodds.infrastructure.toMultiValue

open class SystemApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.mailodds.com/v1")
        }
    }

    /**
     * enum for parameter window
     */
     enum class WindowGetTelemetrySummary(val value: kotlin.String) {
         @Json(name = "1h") _1h("1h"),
         @Json(name = "24h") _24h("24h"),
         @Json(name = "30d") _30d("30d");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /v1/telemetry/summary
     * Get validation telemetry
     * Get validation metrics for your account. Useful for building dashboards and monitoring. Supports ETag caching.
     * @param window Time window for metrics (optional, default to Window._24h)
     * @return TelemetrySummary
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getTelemetrySummary(window: WindowGetTelemetrySummary? = WindowGetTelemetrySummary._24h) : TelemetrySummary {
        val localVarResponse = getTelemetrySummaryWithHttpInfo(window = window)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as TelemetrySummary
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/telemetry/summary
     * Get validation telemetry
     * Get validation metrics for your account. Useful for building dashboards and monitoring. Supports ETag caching.
     * @param window Time window for metrics (optional, default to Window._24h)
     * @return ApiResponse<TelemetrySummary?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getTelemetrySummaryWithHttpInfo(window: WindowGetTelemetrySummary?) : ApiResponse<TelemetrySummary?> {
        val localVariableConfig = getTelemetrySummaryRequestConfig(window = window)

        return request<Unit, TelemetrySummary>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getTelemetrySummary
     *
     * @param window Time window for metrics (optional, default to Window._24h)
     * @return RequestConfig
     */
    fun getTelemetrySummaryRequestConfig(window: WindowGetTelemetrySummary?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (window != null) {
                    put("window", listOf(window.value))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/telemetry/summary",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /health
     * Health check
     * Check API health status. No authentication required.
     * @return HealthCheck200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun healthCheck() : HealthCheck200Response {
        val localVarResponse = healthCheckWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as HealthCheck200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /health
     * Health check
     * Check API health status. No authentication required.
     * @return ApiResponse<HealthCheck200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun healthCheckWithHttpInfo() : ApiResponse<HealthCheck200Response?> {
        val localVariableConfig = healthCheckRequestConfig()

        return request<Unit, HealthCheck200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation healthCheck
     *
     * @return RequestConfig
     */
    fun healthCheckRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/health",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
