/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.CreateJobFromS3Request
import org.openapitools.client.models.CreateJobRequest
import org.openapitools.client.models.DeleteJob200Response
import org.openapitools.client.models.ErrorResponse
import org.openapitools.client.models.GetPresignedUploadRequest
import org.openapitools.client.models.JobListResponse
import org.openapitools.client.models.JobResponse
import org.openapitools.client.models.PresignedUploadResponse
import org.openapitools.client.models.ResultsResponse

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class BulkValidationApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://api.mailodds.com/v1")
        }
    }

    /**
     * POST /v1/jobs/{job_id}/cancel
     * Cancel a job
     * Cancel a pending or processing job. Partial results are preserved.
     * @param jobId 
     * @return JobResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cancelJob(jobId: kotlin.String) : JobResponse {
        val localVarResponse = cancelJobWithHttpInfo(jobId = jobId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as JobResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/jobs/{job_id}/cancel
     * Cancel a job
     * Cancel a pending or processing job. Partial results are preserved.
     * @param jobId 
     * @return ApiResponse<JobResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun cancelJobWithHttpInfo(jobId: kotlin.String) : ApiResponse<JobResponse?> {
        val localVariableConfig = cancelJobRequestConfig(jobId = jobId)

        return request<Unit, JobResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cancelJob
     *
     * @param jobId 
     * @return RequestConfig
     */
    fun cancelJobRequestConfig(jobId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/jobs/{job_id}/cancel".replace("{"+"job_id"+"}", encodeURIComponent(jobId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/jobs
     * Create bulk validation job (JSON)
     * Create a new bulk validation job by submitting a JSON array of emails.
     * @param createJobRequest 
     * @return JobResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createJob(createJobRequest: CreateJobRequest) : JobResponse {
        val localVarResponse = createJobWithHttpInfo(createJobRequest = createJobRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as JobResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/jobs
     * Create bulk validation job (JSON)
     * Create a new bulk validation job by submitting a JSON array of emails.
     * @param createJobRequest 
     * @return ApiResponse<JobResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createJobWithHttpInfo(createJobRequest: CreateJobRequest) : ApiResponse<JobResponse?> {
        val localVariableConfig = createJobRequestConfig(createJobRequest = createJobRequest)

        return request<CreateJobRequest, JobResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createJob
     *
     * @param createJobRequest 
     * @return RequestConfig
     */
    fun createJobRequestConfig(createJobRequest: CreateJobRequest) : RequestConfig<CreateJobRequest> {
        val localVariableBody = createJobRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/jobs",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/jobs/upload/s3
     * Create job from S3 upload
     * Create a validation job from a file previously uploaded to S3.
     * @param createJobFromS3Request 
     * @return JobResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createJobFromS3(createJobFromS3Request: CreateJobFromS3Request) : JobResponse {
        val localVarResponse = createJobFromS3WithHttpInfo(createJobFromS3Request = createJobFromS3Request)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as JobResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/jobs/upload/s3
     * Create job from S3 upload
     * Create a validation job from a file previously uploaded to S3.
     * @param createJobFromS3Request 
     * @return ApiResponse<JobResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createJobFromS3WithHttpInfo(createJobFromS3Request: CreateJobFromS3Request) : ApiResponse<JobResponse?> {
        val localVariableConfig = createJobFromS3RequestConfig(createJobFromS3Request = createJobFromS3Request)

        return request<CreateJobFromS3Request, JobResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createJobFromS3
     *
     * @param createJobFromS3Request 
     * @return RequestConfig
     */
    fun createJobFromS3RequestConfig(createJobFromS3Request: CreateJobFromS3Request) : RequestConfig<CreateJobFromS3Request> {
        val localVariableBody = createJobFromS3Request
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/jobs/upload/s3",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/jobs/upload
     * Create bulk validation job (file upload)
     * Create a new bulk validation job by uploading a CSV, Excel, or TXT file.
     * @param file CSV, Excel (.xlsx, .xls), ODS, or TXT file
     * @param dedup Remove duplicate emails (optional, default to false)
     * @param metadata JSON metadata for the job (optional)
     * @return JobResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createJobUpload(file: java.io.File, dedup: kotlin.Boolean? = false, metadata: kotlin.String? = null) : JobResponse {
        val localVarResponse = createJobUploadWithHttpInfo(file = file, dedup = dedup, metadata = metadata)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as JobResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/jobs/upload
     * Create bulk validation job (file upload)
     * Create a new bulk validation job by uploading a CSV, Excel, or TXT file.
     * @param file CSV, Excel (.xlsx, .xls), ODS, or TXT file
     * @param dedup Remove duplicate emails (optional, default to false)
     * @param metadata JSON metadata for the job (optional)
     * @return ApiResponse<JobResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createJobUploadWithHttpInfo(file: java.io.File, dedup: kotlin.Boolean?, metadata: kotlin.String?) : ApiResponse<JobResponse?> {
        val localVariableConfig = createJobUploadRequestConfig(file = file, dedup = dedup, metadata = metadata)

        return request<Map<String, PartConfig<*>>, JobResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createJobUpload
     *
     * @param file CSV, Excel (.xlsx, .xls), ODS, or TXT file
     * @param dedup Remove duplicate emails (optional, default to false)
     * @param metadata JSON metadata for the job (optional)
     * @return RequestConfig
     */
    fun createJobUploadRequestConfig(file: java.io.File, dedup: kotlin.Boolean?, metadata: kotlin.String?) : RequestConfig<Map<String, PartConfig<*>>> {
        val localVariableBody = mapOf(
            "file" to PartConfig(body = file, headers = mutableMapOf()),
            "dedup" to PartConfig(body = dedup, headers = mutableMapOf()),
            "metadata" to PartConfig(body = metadata, headers = mutableMapOf()),)
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "multipart/form-data")
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/jobs/upload",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /v1/jobs/{job_id}
     * Delete a job
     * Permanently delete a completed or cancelled job and its results.
     * @param jobId 
     * @return DeleteJob200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteJob(jobId: kotlin.String) : DeleteJob200Response {
        val localVarResponse = deleteJobWithHttpInfo(jobId = jobId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DeleteJob200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /v1/jobs/{job_id}
     * Delete a job
     * Permanently delete a completed or cancelled job and its results.
     * @param jobId 
     * @return ApiResponse<DeleteJob200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteJobWithHttpInfo(jobId: kotlin.String) : ApiResponse<DeleteJob200Response?> {
        val localVariableConfig = deleteJobRequestConfig(jobId = jobId)

        return request<Unit, DeleteJob200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteJob
     *
     * @param jobId 
     * @return RequestConfig
     */
    fun deleteJobRequestConfig(jobId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/v1/jobs/{job_id}".replace("{"+"job_id"+"}", encodeURIComponent(jobId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /v1/jobs/{job_id}
     * Get job status
     * Get the status and details of a specific validation job.
     * @param jobId 
     * @return JobResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getJob(jobId: kotlin.String) : JobResponse {
        val localVarResponse = getJobWithHttpInfo(jobId = jobId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as JobResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/jobs/{job_id}
     * Get job status
     * Get the status and details of a specific validation job.
     * @param jobId 
     * @return ApiResponse<JobResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getJobWithHttpInfo(jobId: kotlin.String) : ApiResponse<JobResponse?> {
        val localVariableConfig = getJobRequestConfig(jobId = jobId)

        return request<Unit, JobResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getJob
     *
     * @param jobId 
     * @return RequestConfig
     */
    fun getJobRequestConfig(jobId: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/jobs/{job_id}".replace("{"+"job_id"+"}", encodeURIComponent(jobId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter format
     */
     enum class FormatGetJobResults(val value: kotlin.String) {
         @Json(name = "json") json("json"),
         @Json(name = "csv") csv("csv"),
         @Json(name = "ndjson") ndjson("ndjson");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter filter
     */
     enum class FilterGetJobResults(val value: kotlin.String) {
         @Json(name = "all") all("all"),
         @Json(name = "valid_only") valid_only("valid_only"),
         @Json(name = "invalid_only") invalid_only("invalid_only");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /v1/jobs/{job_id}/results
     * Get job results
     * Download validation results in JSON, CSV, or NDJSON format.
     * @param jobId 
     * @param format  (optional, default to Format.json)
     * @param filter  (optional)
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 1000)
     * @return ResultsResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getJobResults(jobId: kotlin.String, format: FormatGetJobResults? = FormatGetJobResults.json, filter: FilterGetJobResults? = null, page: kotlin.Int? = 1, perPage: kotlin.Int? = 1000) : ResultsResponse {
        val localVarResponse = getJobResultsWithHttpInfo(jobId = jobId, format = format, filter = filter, page = page, perPage = perPage)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ResultsResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/jobs/{job_id}/results
     * Get job results
     * Download validation results in JSON, CSV, or NDJSON format.
     * @param jobId 
     * @param format  (optional, default to Format.json)
     * @param filter  (optional)
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 1000)
     * @return ApiResponse<ResultsResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getJobResultsWithHttpInfo(jobId: kotlin.String, format: FormatGetJobResults?, filter: FilterGetJobResults?, page: kotlin.Int?, perPage: kotlin.Int?) : ApiResponse<ResultsResponse?> {
        val localVariableConfig = getJobResultsRequestConfig(jobId = jobId, format = format, filter = filter, page = page, perPage = perPage)

        return request<Unit, ResultsResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getJobResults
     *
     * @param jobId 
     * @param format  (optional, default to Format.json)
     * @param filter  (optional)
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 1000)
     * @return RequestConfig
     */
    fun getJobResultsRequestConfig(jobId: kotlin.String, format: FormatGetJobResults?, filter: FilterGetJobResults?, page: kotlin.Int?, perPage: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (format != null) {
                    put("format", listOf(format.value))
                }
                if (filter != null) {
                    put("filter", listOf(filter.value))
                }
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (perPage != null) {
                    put("per_page", listOf(perPage.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json, application/x-ndjson"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/jobs/{job_id}/results".replace("{"+"job_id"+"}", encodeURIComponent(jobId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /v1/jobs/upload/presigned
     * Get S3 presigned upload URL
     * Get a presigned URL for uploading large files (&gt;10MB) directly to S3.
     * @param getPresignedUploadRequest 
     * @return PresignedUploadResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getPresignedUpload(getPresignedUploadRequest: GetPresignedUploadRequest) : PresignedUploadResponse {
        val localVarResponse = getPresignedUploadWithHttpInfo(getPresignedUploadRequest = getPresignedUploadRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PresignedUploadResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /v1/jobs/upload/presigned
     * Get S3 presigned upload URL
     * Get a presigned URL for uploading large files (&gt;10MB) directly to S3.
     * @param getPresignedUploadRequest 
     * @return ApiResponse<PresignedUploadResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getPresignedUploadWithHttpInfo(getPresignedUploadRequest: GetPresignedUploadRequest) : ApiResponse<PresignedUploadResponse?> {
        val localVariableConfig = getPresignedUploadRequestConfig(getPresignedUploadRequest = getPresignedUploadRequest)

        return request<GetPresignedUploadRequest, PresignedUploadResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getPresignedUpload
     *
     * @param getPresignedUploadRequest 
     * @return RequestConfig
     */
    fun getPresignedUploadRequestConfig(getPresignedUploadRequest: GetPresignedUploadRequest) : RequestConfig<GetPresignedUploadRequest> {
        val localVariableBody = getPresignedUploadRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/v1/jobs/upload/presigned",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter status
     */
     enum class StatusListJobs(val value: kotlin.String) {
         @Json(name = "pending") pending("pending"),
         @Json(name = "processing") processing("processing"),
         @Json(name = "completed") completed("completed"),
         @Json(name = "failed") failed("failed"),
         @Json(name = "cancelled") cancelled("cancelled");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /v1/jobs
     * List validation jobs
     * List all validation jobs for the authenticated account.
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @param status  (optional)
     * @return JobListResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listJobs(page: kotlin.Int? = 1, perPage: kotlin.Int? = 20, status: StatusListJobs? = null) : JobListResponse {
        val localVarResponse = listJobsWithHttpInfo(page = page, perPage = perPage, status = status)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as JobListResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /v1/jobs
     * List validation jobs
     * List all validation jobs for the authenticated account.
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @param status  (optional)
     * @return ApiResponse<JobListResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listJobsWithHttpInfo(page: kotlin.Int?, perPage: kotlin.Int?, status: StatusListJobs?) : ApiResponse<JobListResponse?> {
        val localVariableConfig = listJobsRequestConfig(page = page, perPage = perPage, status = status)

        return request<Unit, JobListResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listJobs
     *
     * @param page  (optional, default to 1)
     * @param perPage  (optional, default to 20)
     * @param status  (optional)
     * @return RequestConfig
     */
    fun listJobsRequestConfig(page: kotlin.Int?, perPage: kotlin.Int?, status: StatusListJobs?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
                if (perPage != null) {
                    put("per_page", listOf(perPage.toString()))
                }
                if (status != null) {
                    put("status", listOf(status.value))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/v1/jobs",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
